<template>
  <div class="admin-dashboard">
    <h1>{{ $t("titles.dashboard") | capitalize }}</h1>

    <p>Sélectionnez une section dans le menu à gauche.</p>
  </div>
</template>

<script>
export default {
  name: "AdminDashboard",
};
</script>

<style lang="scss"></style>
